@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-header-bg: #F9F9C5;
    --color-footer-bg: #F9F9C5;
    --color-body-bg: #FCF8E8;

    --color-link: #A27B5C;

    --color-txt-1: #362706;
    --color-txt-2: #553939;
    --color-txt-3: #704F4F;
    --color-txt-4: #A77979;
}

body {
    background-color: var(--color-body-bg);
    text-align: center;
    align-content: center;
    align-items: center;
    margin: 0;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: var(--color-txt-3)
}

p {
    color: var(--color-txt-3)
}

h1 {
    color: var(--color-txt-1)
}
h2, h3, h4, h5, h6 {
    color: var(--color-txt-3)
}


.keyword {
    font-weight: bold;
    font-size: 1.7rem;
    color: var(--color-txt-1);
}
.link {
    color: var(--color-link)
}
.list {
    text-align: center;
    width: 80%;
    display: inline-block;
    margin: 1%;
    text-align: left;
    line-height: 1rem
}
.list-img-left {
    width: 5rem;
    margin-right: 2%;
    float: left
}
.list-head {
    margin-top: 0;
    margin-bottom: 1%
}
.list-explaination {
    display: inline-block;
    margin-top: 0;
    line-height: 1rem;
    color: var(--color-txt-3);
}

.explaination {
    display: inline-block;
    color: var(--color-txt-4);
}
.dotted-line {
    width: 25%;
    border-top: 7px dotted var(--color-txt-3);
    border-bottom: none;
    border-left: none;
    border-right: none
}
.header {
    margin: 0;
    padding: 60px;
    text-align: center;
    background: var(--color-header-bg)
}
.footer {
    margin: 5% 0 0;
    padding: 60px;
    text-align: center;
    background: var(--color-footer-bg)
}
.credit-link-list {
    width: auto;
    display: inline-block;
    text-align: left;
    color: var(--color-txt-3)
}
.max-width-35rem {
    max-width: 40rem
}
.sub-unit {
    display: inline-block;
    width: 95%;
    text-align: center;
    justify-content: center
}
.li-list {
    display: inline-block;
    text-align: left;
    width: auto
}
